<md-card md-theme="default">
	<md-card-content>
		<div layout-xs="column" flex-xs layout-margin>
			<div flex="100">	
				<md-icon  class="mdi-36px" md-svg-icon="book-open-page-variant"></md-icon>
			 	<span class="md-headline" style="vertical-align: bottom;">Education</span>
			</div>
			<div flex="100" ng-repeat="school in education">
				<div layout-gt-xs="row" layout-xs="column" layout-align="end center">
					<div flex-order="1">
						<img
							layout-margin
							class="logo-avatar"
							ng-src="{{school.picture}}">
					</div>
					<div layout="column" flex flex-order="2">
						<div class="md-body-2" flex hide-xs> {{school.institution}}</div>
						<div class="md-body-2" flex> {{school.studyType}} - {{school.area}}</div>
					</div>
					<div 
						class="md-body-1" 
						flex-order="3" 
						layout-padding> 
						{{school.startDate | date:"MMM yyyy"}} - {{school.endDate | date:"MMM yyyy"}} 
					</div>
				</div>
				<md-divider ng-if="!$last"></md-divider>
			</div>
		</div>
	</md-card-content>
</md-card>