body {
  font-family: var(--font-family);
  background-color: var(--blue-700);
}

.print-only {
  display: none;
}

@media print {
  .print-page {
    page-break-after: auto;
    page-break-inside: avoid;
  }

  .no-print {
    display: none;
  }

  .print-only {
    display: block;
  }
}